In [4]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('./data/ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [5]:
ratings.head(5)

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [7]:
#Import the required classes and methods from the surprise library
from surprise import Reader, Dataset, KNNBasic, evaluate
#Define a Reader object
#The Reader object helps in parsing the file or dataframe containing ratings
reader = Reader()
#Create the dataset to be used for building the filter
data = Dataset.load_from_df(ratings, reader)
#Define the algorithm object; in this case kNN
knn = KNNBasic()
#Evaluate the performance in terms of RMSE
evaluate(knn, data, measures=['RMSE'])

ImportError: cannot import name 'evaluate' from 'surprise' (/usr/local/lib/python3.8/dist-packages/surprise/__init__.py)